/****************
Global App Params
****************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* box sizes include padding and margins */
}

/*
.app {
  position: relative;
	display: flex;
  flex: auto;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10vmin;
  padding: 0%;
	height: 100%;
	overflow:hidden;
}
*/

/*
img {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	background-size: 100%;
	object-fit: cover;
}
*/

.img-box {
	display: grid;
	height: 100%;
}

.center-fit {
	max-width: 100vw;
	max-height: 100vh;
	margin: auto;
}

.dropzone-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10vmin;
}


.under {
  z-index: 1;
}

.over {
	opacity: 0.3;
	color: white;
}

/*
.over {
  position: absolute;
  left: 9%;
  right: 9%;
  z-index: 2;
  opacity: 0.3;
	color: white;
}
*/

.hidden {
	position: relative;
	opacity: 0;
	z-index: -1;
}
