/****************
Global App Params
****************/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; /* box sizes include padding and margins */
}

.app {
  position: relative;
	display: flex;
  flex: auto;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10vmin;
  padding: 0%;
	height: 100%;
	overflow:hidden;
}

/* eventually figure out how to make this fit the screen rather than overflowing
 * it's good enough for now though
 */
img {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	background-size: 100%;
	object-fit: cover;
}

.under {
  position: relative;
  z-index: 1;
}

.over {
  position: absolute;
  /* because the .over element is absolute, it is out of the flow of the app 
     this means we have to manually set the left and right alignment */
  left: 9%;
  right: 9%;
  z-index: 2;
  opacity: 0.3;
	color: white;
}

.hidden {
	opacity: 0;
	z-index: -1;
}

.app-header {
  text-align: center;
  padding: 5%;
}
.app-header-div {
  padding: 3%;
}

.app-body {
  padding: 5%;
}
.app-body-div {
  padding: 3%;
}

